@font-face {
    font-family: 'Chicago';
    src: url('ChicagoFLF.ttf') format('truetype');
}
@font-face {
    font-family: 'Apple Garamond';
    src: url('AppleGaramond-Light.ttf') format('truetype');
}
body {
    user-select: none;
    background-image: url(macos.png);
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'Chicago';
    margin: 0;
    color: #FFFFFF;
    flex-direction: column;
    font-size: 10px;
}
.top {
    z-index: 1000;
    height: 30px;
    width: 100%;
    display: flex;
    background-color: #dcdcdc;
    font-weight: bold;
    color: black;
    border-bottom: solid 2px black;
}
.right {
    margin-left: auto;
    margin-right: 10px;
    text-align: right;
}
.menu {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
        padding: 6px;
        padding-top: 7px;
    }
    img {
        margin-left: 10px;
        padding: 4px 12px;
        padding-top: 6px;
    }
    p:hover {
        background-color: #333399;
    }
    img:hover {
        margin-left: 10px;
        background-color: #333399;
    }
}
.main {
    position: absolute;
    margin-left: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    width: 50%;
    background-color: #dcdcdc;
    border: solid 2px black;
    justify-content: center;
    color: black;
    h4 {
        margin: 0;
        padding: 2px;
    }
    text-align: center;
    display: flex;
    flex-direction: column;
}
.box2 {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin: 5px;
    background-color: #dcdcdc;
    border: solid 2px black;
    justify-content: center;
    color: black;
    p {
        margin-left: 2.5%;
        font-weight: bold;
    }
    i {
        position: relative;
        left: 5%;
    }
    text-align: left;
}
.box3 {
    width: 95%;
    margin: 5px;
    background-color: #ffffff;
    border: solid 2px black;
    justify-content: center;
    color: black;
    img {
        margin-top: 4px;
    }
    font-family: 'Apple Garamond', Times, serif;
    text-align: center;
}
.links {
    height: 25%;
    display: flex;
    flex-direction: column;
    i {
        margin: 10px 0px;
        font-size: 8px;
    }
    a {
        border-bottom: solid 1px white;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        align-items: center;
        p {
            font-size: 8px;
            color:black;
            margin-left: 7.5%;
        }
    }
}
.boxbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 2px;
    gap: 10px;
    flex-wrap: nowrap;
}

.bars {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 5px;
    position: relative;
}

.bar {
    height: 5px;
    width: 100%;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
    flex-grow: 1;
}

.square {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    border: solid black 2px;
    margin: 5px;
}

h4 {
    white-space: nowrap;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .mobile {
      display: none;
    }
}