@font-face {
    font-family: 'Chicago';
    src: url('ChicagoFLF.ttf') format('truetype');
}
@font-face {
    font-family: 'Apple Garamond';
    src: url('AppleGaramond-Light.ttf') format('truetype');
}
body {
    border-radius: 10px;
    user-select: none;
    /* background-image: url("images/background.png");
    background-repeat: repeat; */
    display: flex;
    align-items: center;
    height: 100vh;
    font-family: 'Chicago';
    margin: 0;
    color: white;
    background-color: black;
    flex-direction: column;
    font-size: 10px;
}

input {
  display: none;
}

label {
  background: red;
  cursor: pointer;
  display: inline-block;
  border-radius: 10px;
  height: 40px;
  position: relative;
  width: 80px;
  
  i:before {
    color: white;
    display: block;
    font-size: 2em;
    left: 0;
    margin: auto;    
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s ease;
  }
}

input:checked + label {
  background: green;
}
.powerBtn {
    position: absolute;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.top {
    z-index: 1000;
    height: 30px;
    width: 100%;
    display: none;
    background-color: #dcdcdc;
    font-weight: bold;
    color: black;
    border-bottom: solid 2px black;
}
.right {
    margin-left: auto;
    margin-right: 10px;
    text-align: right;
}
.menu {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    p {
        padding: 6px;
        padding-top: 7px;
    }
    img {
        margin-left: 10px;
        padding: 4px 12px;
        padding-top: 6px;
    }
    p:hover {
        background-color: #333399;
    }
    img:hover {
        margin-left: 10px;
        background-color: #333399;
    }
}
.main {
    margin-left: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    width: 50%;
    background-color: #dcdcdc;
    border: solid 2px black;
    justify-content: center;
    color: black;
    h4 {
        margin: 0;
        padding: 2px;
    }
    text-align: center;
    display: flex;
    flex-direction: column;
}
.box2 {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin: 5px;
    background-color: #dcdcdc;
    border: solid 2px black;
    justify-content: center;
    color: black;
    p {
        margin-left: 2.5%;
        font-weight: bold;
    }
    i {
        position: relative;
        left: 5%;
    }
    text-align: left;
}
.box3 {
    width: 95%;
    margin: 5px;
    background-color: #ffffff;
    border: solid 2px black;
    justify-content: center;
    color: black;
    img {
        margin-top: 4px;
    }
    font-family: 'Apple Garamond', Times, serif;
    text-align: center;
}
.links {
    height: 25%;
    display: flex;
    flex-direction: column;
    i {
        margin: 10px 0px;
        font-size: 8px;
    }
    a {
        border-bottom: solid 1px white;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        align-items: center;
        p {
            font-size: 8px;
            color:black;
            margin-left: 7.5%;
        }
    }
}
.boxbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: 2px;
    gap: 10px;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.bars {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin: 0 5px;
    position: relative;
}

.bar {
    height: 5px;
    width: 100%;
    border-top: solid white 2px;
    border-bottom: solid white 2px;
    flex-grow: 1;
}

.square {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    border: solid black 2px;
    margin: 5px;
}

h4 {
    white-space: nowrap;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .mobile {
      display: none;
    }
}

@keyframes flicker {
    0% {
      opacity: 0.27861;
    }
    5% {
      opacity: 0.34769;
    }
    10% {
      opacity: 0.23604;
    }
    15% {
      opacity: 0.90626;
    }
    20% {
      opacity: 0.18128;
    }
    25% {
      opacity: 0.83891;
    }
    30% {
      opacity: 0.65583;
    }
    35% {
      opacity: 0.67807;
    }
    40% {
      opacity: 0.26559;
    }
    45% {
      opacity: 0.84693;
    }
    50% {
      opacity: 0.96019;
    }
    55% {
      opacity: 0.08594;
    }
    60% {
      opacity: 0.20313;
    }
    65% {
      opacity: 0.71988;
    }
    70% {
      opacity: 0.53455;
    }
    75% {
      opacity: 0.37288;
    }
    80% {
      opacity: 0.71428;
    }
    85% {
      opacity: 0.70419;
    }
    90% {
      opacity: 0.7003;
    }
    95% {
      opacity: 0.36108;
    }
    100% {
      opacity: 0.24387;
    }
  }
  .crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }
  .crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }